* .NET
/TheCarApp/.vs/TheCarApp/FileContentIndex/23311a12-9359-4dff-a4ab-78343a70f9bd.vsidx
/TheCarApp/.vs/TheCarApp/FileContentIndex/803d9f14-88c3-4532-a836-2e79a51c3159.vsidx
/TheCarApp/.vs/TheCarApp/FileContentIndex/8c0e0060-9fbb-4dc9-863c-f8bbd237814a.vsidx
*.vsidx
