*
{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #c4c4c4;
}

.topnav {
    text-align: center;
    
    overflow: hidden;
    background-color: #4b4b4b;
    height: 47px;
}

.topnav a {
    padding: 25px;
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold; /* Use font-weight instead of font-style */
    font-size: 20px;
    line-height: 47px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  height: 50px;
}

.topnav a.active {
  background-color: #FF9001;
  color: white;
  height: 50px;
}

.heading{
    text-align: center;
    font-size: 28px;
    
}

.container {
    position: relative; /* Set the container as the reference for absolute positioning */
  }
  
  .rectangle {
    position: relative;
    left: 175px;
    top: 0px;
    width: 400px;
    height: 100px;
    background-color: #a8a8a8; /* Background color of the rectangle */
    border: 2px solid #000; /* Border of the rectangle */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 1;
  }
  
  .rectangle h2 {
    margin: 0; /* Remove default margin of <p> */
  }
  
  img {
    position: absolute; /* Ensure image is a block-level element display: block;*/
    margin-top: 150px; /* Add margin to create space between the rectangle and the image */
    width: 500px;
    height: 250px;
    top:0px;
    left: 150px;
    object-fit: cover; /* Ensure the image covers its container */
  }
  
  .textbox {
    position: absolute;
    top: 50px; /* Adjust the top position as needed */
    left: 700px; /* Adjust the right position as needed */
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #000;
    width: 600px;
  }
  
  