@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-banner header-text" id="top">
    <div class="item item-1">
            <div class="img-fill">
                <div class="backgroundImage">
                    <img src="/pictures/homepage.jpg">
                </div>
                
                <div class="text-content">
                    <h1>Welcome</h1>
                    <br></br>
                <h5>Welcome to our cutting-edge automotive hub! Explore the latest car models, stay updated with industry news, engage with fellow enthusiasts in our vibrant community forums, and seamlessly sell or find your dream car in our dynamic marketplace. Join us on the journey of automotive discovery and empowerment!</h5>
                <br></br>   
                <button class="button button2">
                        <a href="/SignUpPage" class="filled-button">Log In</a>
                    </button>
                    
                </div>
            </div>
        </div>
</div>