@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-banner header-text" id="top">
    <div class="item item-1">
        <div class="img-fill">
            <div class="backgroundImage">
                <img src="/pictures/homepage.jpg">
            </div>

            <div class="text-content">
                <h1>Welcome</h1>
                <br>
                @* <div>
                    Authenticated: @User.Identity.IsAuthenticated
                    Name: @User.Identity.Name
                </div> *@
                <h5>Dive into the world of cars with our expansive collection of the latest models and an engaging community eager to share insights. Join us to stay ahead in the automotive world and connect with enthusiasts and experts alike!</h5>
                <br>
                <a href="/SignUpPage" class="filled-button"><button class="button button2">Register</button></a>

            </div>
        </div>
    </div>
</div>