@page
@model TheCarApp.Pages.LogInPageModel
@{
    ViewData["Title"] = "Log In";
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
}

<div class="center-text">
            <h2>Login with Social Media or Manually</h2>
        </div>
        <div class="containerLI">
            <form action="/action_page.php">
              <div class="row">

                <div class="vl">
                  <span class="vl-innertext">or</span>
                </div>

                <div class="col">
                  <a href="#" class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                   </a>
                  <a href="#" class="twitter btn">
                    <i class="fa fa-twitter fa-fw"></i> Login with Twitter
                  </a>
                  <a href="#" class="google btn"><i class="fa fa-google fa-fw">
                    </i> Login with Google+
                  </a>
                </div>

                <div class="col">
                  <input type="text" name="username" placeholder="Username" required>
                  <input type="password" name="password" placeholder="Password" required>
                  <input type="submit" value="Login">
                </div>

              </div>
            </form>
          </div>

          <div class="bottom-container">
            <div class="row">
              <div class="col">
                <a href="/SignUpPage" style="color:white" class="btn">Sign up</a>
              </div>
              <div class="col">
                <a href="#" style="color:white" class="btn">Forgot password?</a>
              </div>
            </div>
          </div>




<div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
        <div class="front">
            <img src="images/frontImg.jpg" alt="">
            <div class="text">
                <span class="text-1">Every new friend is a <br> new adventure</span>
                <span class="text-2">Let's get connected</span>
            </div>
        </div>
        <div class="back">
            <img class="backImg" src="images/backImg.jpg" alt="">
            <div class="text">
                <span class="text-1">Complete miles of journey <br> with one step</span>
                <span class="text-2">Let's get started</span>
            </div>
        </div>
    </div>
    <div class="forms">
        <div class="form-content">
            <div class="login-form">
                <div class="title">Login</div>
                <form action="#">
                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your email" required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your password" required>
                        </div>
                        <div class="text"><a href="#">Forgot password?</a></div>
                        <div class="button input-box">
                            <input type="submit" value="Sumbit">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>