@page
@model TheCarApp.Pages.SignUpPageModel
@{
    ViewData["Title"] = "Sign Up";
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
}


<div class="flex-container">
    <div class="containerSignUp">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/pictures/opel.jpg" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="images/backImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form action="#">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter your email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Enter your password" required>
                            </div>
                            <div class="text"><a href="#">Forgot password?</a></div>

                            <input type="submit" value="Submit">

                            <div class="text sign-up-text">Don't have an account? <label for="flip">SignUp now</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="#">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input type="text" placeholder="Enter Username" name="username" id="username" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input type="text" placeholder="Enter Email" name="email" id="email" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input type="text" placeholder="Enter License Number" name="license" id="license" required>
                            </div>

                            <input type="submit" value="Submit">

                            <div class="text sign-up-text">Already have an account? <a href="/login"><label for="flip">LogIn now</label></a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
