@page
@model TheCarApp.Pages.SignUpPageModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

<div class="flex-container">
    <div class="containerSignUp">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/pictures/opel.jpg" alt="Opel Image">
                <div class="text">
                    <span class="text-1">Every new friend is a new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="title">Login</div>
                    <form method="post" asp-page-handler="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input asp-for="Email" type="text" placeholder="Enter your email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input asp-for="Password" type="password" placeholder="Enter your password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="text"><a href="#">Forgot password?</a></div>
                            <input type="submit" value="Submit">
                            <div class="text sign-up-text">Don't have an account? <label for="flip">SignUp now</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form method="post" asp-page-handler="SignUp">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input asp-for="Username" type="text" placeholder="Enter Username" required>
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-envelope"></i>
                                <input asp-for="Email" type="text" placeholder="Enter Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input asp-for="Password" type="password" placeholder="Enter Password" required>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-id-card"></i>
                                <input asp-for="LicenseNumber" type="text" placeholder="Enter Driving License Number" required>
                                <span asp-validation-for="LicenseNumber" class="text-danger"></span>
                            </div>
                            <input type="submit" value="Sign Up">
                            <div class="text sign-up-text">Already have an account? <a href="/login"><label for="flip">LogIn now</label></a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
