body {
    background-color: #c4c4c4;
}

.container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 2;
}

    .container h1 {
        text-align: center;
        font-size: 36px;
        color: white; 
    }

    .container h3 {
        margin-bottom: 15px;
        color: #333;
        font-size: 24px;
    }

    .container h5 {
        text-align: left;
        font-size: 36px;
        color: black;
        /*color: #a4c639;*/
        font-weight: bold;
    }

    .container p {
        text-align: left;
        font-size: 20px;
        color: black;
        /*color: #a4c639;*/
    }

.more-info .about-info .row > div {
    display: flex;
    align-items: flex-start; /* Aligns content to the top */
}

.more-info .about-info .col-md-8 {
    padding-right: 20px; /* Adds some spacing between text and image */
}

img.img-fluid {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    width: 600px; /* Maximum width */
}

@media (min-width: 768px) { /* For tablets and larger devices */
    img.img-fluid {
        max-width: 800px; /* Larger image on larger screens */
    }
}

@media (min-width: 1200px) { /* For large desktops */
    img.img-fluid {
        max-width: 1000px; /* Even larger image on large desktops */
    }
}


    
    

.page-heading {
    width: 100vw;
    height: 0vw;
    position: relative;
    text-align: center;
    background: url(/pictures/Marketplace.jpg) no-repeat center/cover; 
    padding: 230px 0;
    color: white; 
    z-index: 4;
    margin-left: calc(-50vw + 50%);
}

    .page-heading::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: -1; 
    }

    .page-heading h1 {
        font-size: 46px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 16px;
    }

    .page-heading span {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
    }


.services {
    margin-top: 140px;
}

row {
    margin-top: 15px; 
    margin-bottom: 15px; 
}

.col-md-4 {
    padding: 15px; 
}

.service-item img {
    width: 100%;
    max-height: 250px; 
    object-fit: cover;
    overflow: hidden;
}

.service-item .down-content {
    background-color: #f7f7f7;
    padding: 30px; 
    min-height: 200px;
}

    .service-item .down-content h4 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.25px;
        margin-bottom: 15px;
        color: black;
    }

    .service-item .down-content p {
        margin-bottom: 20px;
    }

.page-link:hover,
.page-link {
    color: #a4c639;
}

.btn-primary {
    border-color: #a4c639;
    background-color: #a4c639;
}

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:active:focus {
        opacity: 0.6;
        border-color: #a4c639;
        background-color: #a4c639;
    }


.filled-button {
    background-color: #a4c639;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
}

    .filled-button:hover {
        background-color: #fff;
        color: #a4c639;
    }


.tabs-content {
    margin-top: 30px;
}

    .tabs-content img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 15px;
    }

    .tabs-content h4 {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.25px;
        margin-bottom: 15px;
    }

    .tabs-content p {
        font-size: 14px;
        color: #333;
        margin-bottom: 15px;
        text-align: left;
    }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.single-services {
    padding: 80px 0;
    text-align: center;
}

    .single-services img {
        width: 100%;
        max-height: 250px; 
        object-fit: cover;
        overflow: hidden;
    }

    .single-services h4 a {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 10px;
        color: black;
    }

        .single-services h4 a:hover {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #a4c639;
        }

    .single-services p {
        text-align: center;
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .single-services .filled-button {
        background-color: #a4c639;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 12px 30px;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.3s;
    }

        .single-services .filled-button:hover {
            background-color: #fff;
            color: #a4c639;
        }

    .single-services .col-md-8 {
        margin: 0 auto;
        display: inline-block;
        float: none;
    }

.comment-box, .post-comment .list {
    border-radius:6px;
    box-shadow: 2px 2px 2px #0002;
}

.comment-section {
    background-color: #eee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.comments-list {
    list-style: none;
    padding: 0;
}

.comment-card {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.post-comment .list {
    width: 100%;
    margin-bottom: 12px;
}

    .post-comment .list .user {
    display: flex;
    padding: 8px;
    overflow: hidden;
    }
.comment-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
}

.comment-date {
    color: #666;
    font-size: 14px;
}

.comment-content {
    color: #333;
    line-height: 1.5;
}

.post-comment .comment-psot {
    padding: 0 0 15px 58px;
}

.comment-box {
    padding:10px;
    overflow:hidden;
}

    .comment-box .user {
        display:flex;
        width: min-content;
    }

    .comment-box .text-area {
        background: #eee;
        width: -webkit-fill-available;
        height:100px;
        margin: 10px 0;
        padding:10px;
        resize: inherit;
        border-radius: 5px;
        border:none;
        box-shadow: 0 0 0 1px #0003;
    }

        .comment-box .text-area:focus-visible {
            box-shadow:inset 0 0 0 2px #009cff;
            outline:none;
        }

    .comment-box .comment-submit {
        float:right;
        padding:6px 10px;
        border: none;
        background: #009cff; /* Цвета на бутона */
        color: #eee;
        cursor:pointer;
        border-radius: 3px;

    }

        .comment-box .comment-submit:hover {
            background: #009cff;
        }

@media screen and (max-width: 660px) {
    .comment-section {
    width:100%;
    }
}